body {
    background-color: teal;
    font-family: "Courier New", Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.game-section {
    background-color: blue;
    margin-left: 17.5%;
    border: solid white 2px;
}

#instructions {
    min-height: 100px;
    font-size: 18px;

}

.right, .left {
    min-height:75px;
}

#answer, #press-any-key, #word, #wins {
    min-height: 30px;
}

#football {
    height: 100%;
    width: 100%;
}

#picture-side {
    padding-left: 0px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 2px;
    min-height: 100px;
    text-align: center;
    color: white;
}

#rules1 {
    min-height: 30px;
    font-size:large;
    color: white;
    font-size: 20px;
}

#rules2 {
    font-size: 15px;
}

#empty {
    height: 60px;
}